<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/style.css">

</head>

<body>
    <h1>Add User</h1>
    <form action="/users" method="POST">
        <div class="input-group">
            <label>Name</label>
            <input type="text" name="name">
        </div>

        <div class="input-group">
            <label>Email</label>
            <input type="text" name="email">
        </div>

        <div class="input-group">
            <label>Password</label>
            <input type="text" name="password">
        </div>

        <button type="submit">Send</button>
        <a href="/users">Kembali</a>
    </form>
    <footer>
        <p>&copy; 2020 kelas.baledemia</p>
    </footer>
</body>

</html>