<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <%- include('../components/navbar') %>
        <a href="/users/create">Register</a>

        <h1>Daftar User (<%= users.length %>)</h1>
        <form action="/users">
            <input type="text" name="keyword">
            <button type="submit">Pencarian</button>
        </form>
        <ul>
            <% if(users.length> 0) { %>
                <% users.forEach(function(user) { %>
                    <li>
                        <a href="/users/<%= user._id%>">
                            <%= user.name.toUpperCase() %>
                                <%= user.email %>
                        </a>

                    </li>
                    <% }) %>
                        <% } else { %>
                            <p>data user kosong.</p>
                            <% } %>
        </ul>
        <footer>
            <p>&copy; 2020 kelas.baledemia</p>
        </footer>
</body>

</html>