<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
    <link rel="stylesheet" href="/style.css">

</head>

<body>
    <%- include('../components/navbar') %>
        <a href="/users">Kembali</a>

        <h1>Detail User</h1>
        <ul>
            <!-- mengembalikan nilai single object -->
            <li>Nama: <strong>
                    <%= user.name %>
                </strong></li>
            <li>Email: <strong>
                    <%= user.email %>
                </strong></li>
        </ul>
        <footer>
            <p>&copy; 2020 kelas.baledemia</p>
        </footer>
</body>

</html>