<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <%- include('components/navbar') %>
        <h1>About</h1>
        <footer>
            <p>&copy; 2020 kelas.baledemia</p>
        </footer>
</body>

</html>